<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="HashLogAppender" type="HashLogAppender.Log4Net.HashLogAppender, HashLogAppender.Log4Net">
      <!--<bufferSize value="10" />
      <reconnectonerror value="true" />-->
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="HashLogAppender" />
    </root>
  </log4net>
</configuration>
